@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
display: none;
}
.scrollbar-hide {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@media (min-width: 480px) {
    .min-480px-width {
      width: 480px; /* Set your desired minimum width for screens larger than 480px */
    }
  }

.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.text-lsm {	font-size: 0.950rem; /* 14px */
  line-height: 1.5rem; /* 20px */}
