@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
display: none;
}
.scrollbar-hide {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@media (min-width: 480px) {
    .min-480px-width {
      width: 480px; /* Set your desired minimum width for screens larger than 480px */
    }
  }

.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.custom-shadow {
  box-shadow: 0 0 120px 20px #eadbff;
}
.text-lsm {	font-size: 0.950rem; /* 14px */
  line-height: 1.5rem; /* 20px */}

.text-xxs {	font-size: 0.700rem; /* 14px */
    line-height: 1rem; /* 20px */}

.info-bar::before {
content: "";
position: absolute;
bottom: -5px; /* Adjust based on the size of the triangle */
left: 20%;
transform: translateX(-50%);
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid gray; /* Match the background color of the info bar */
}
.info-bar::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 20%;
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Background color */
}

@media screen and (max-height: 850px) {
  
  .hdefinedmax\:mt-custom {
      margin-top: 150px; /* Custom margin bottom applies to viewport heights of 800px or less */
  }
}