@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
display: none;
}
.scrollbar-hide {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@media (min-width: 480px) {
    .min-480px-width {
      width: 480px; /* Set your desired minimum width for screens larger than 480px */
    }
  }